<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title> Add Menu </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar (brand='Add Menu')"></nav>

    <h3> Tambah Produk</h3>

    <form th:action="@{'/menu/add/'+${restoran.idRestoran}}" th:object="${restoran}" method="POST">
        <input  type="hidden" th:field="*{idRestoran}"></input>
        <table>
            <thead>
            <tr>
                <th>Nama</th>
                <th>Deskripsi</th>
                <th>Harga</th>
                <th>Durasi Masak (menit)</th>
                <th><button type="submit" name="addRow">Add row</button></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="menu,rowStat : *{listMenu}">
                <td><input type="text" th:field="*{listMenu[__${rowStat.index}__].nama}" /></td>
                <td><input type="text" th:field="*{listMenu[__${rowStat.index}__].deskripsi}" /></td>
                <td><input type="number" th:field="*{listMenu[__${rowStat.index}__].harga}" /></td>
                <td><input type="number" th:field="*{listMenu[__${rowStat.index}__].durasiMasak}" /></td>
                <td><button type="submit" name="removeRow" th:value="${rowStat.index}">Hapus</button></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" name="save">submit</button>
    </form>
    <!--<form th:action="@{/menu/add}" th:object="${menu}" method="POST">
        <input type="hidden" th:field="*{restoran}" />
        Nama: <br>
        <input type="text" name="nama"/>
        <br>
        Deskripsi: <br>
        <input type="text" name="deskripsi"/>
        <br>
        Harga: <br>
        <input type="number" name="harga"/>
        <br>
        durasiMasak (menit): <br>
        <input type="number" name="durasiMasak"/>
        <br>
        <button type="submit"> Submit </button>
    </form>-->
</body>
</html>