<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Password</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar (brand='Update Password')"></nav>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Log In
            </div>
            <div class="card-body">
                <form th:action="@{/user/updatePassword}" method="POST">
                    <h3 th:text="${teks}"></h3>
                    <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}">
                    <div class="row form-group">
                        <label class="col-sm-4">Password Lama:</label>
                        <input type="password" class="col-sm-8 form-control input-sm" name="oldPass">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">Password Baru:</label>
                        <input type="password" class="col-sm-8 form-control input-sm" name="newPass"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                               title="Must contain at least one number and one letter, and at least 8 or more characters" required>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4">Konfirmasi Password Baru:</label>
                        <input type="password" class="col-sm-8 form-control input-sm" name="confirmPass"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                               title="Must contain at least one number and one letter, and at least 8 or more characters" required>
                    </div>
                    <div class="row form-group">
                        <button type="submit" class="btn btn-dark">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>