<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Nomor Telepon</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar (brand='Update Telepon')"></nav>

    <h2 th:text="'Nomor telepon restoran ' + ${resto.nama} + ' berhasil diubah menjadi ' + ${resto.nomorTelepon} "></h2>
</body>
</html>